.tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.selected {
  background-color: #bbc;
}

.frozen {
  background-color: #a0c4ff !important;
  box-shadow: inset 0 0 10px #007bff;
}

.legalMove::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.legalCapture::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
}
